@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Regular.ttf);
}

* {
    box-sizing: border-box;
}

p {
    font-family: "Merriweather";
    font-size: 1.1em;
}

h2 {
    font-family: "Merriweather";
    font-size: 3em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {}

img {
    width: 10em;
}

header ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 2em;
    width: 97vw;
    margin-top: 1em;
    font-family: "Lato";
}

[class^="section-"] {
    width: 90vw;
    margin-top: 5em;
    margin: 5em 5em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
}

.section-1 .desc,
.section-2 .desc,
.section-3 .desc {
    width: 28em;
}

[class^="section-"] .desc p {
    padding-bottom: 1em;
    line-height: 2em;
}

[class^="section-"] .img {
    width: 25em;
}

[class^="section-"] img {
    width: 25em;
}

[class^="section-"] a {
    margin-right: 5px;
}

.section-2 {
    flex-direction: row-reverse;
}

.section-4,
.section-5,
.section-6 {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section-4 .desc,
.section-5 .desc,
.section-6 .desc {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 .desc p,
.section-5 .desc p {
    width: 45em;
    font-size: 1.5em;
}

.section-4 img:hover,
.examples img:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    position: relative;
    z-index: 1;
}

.examples {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.examples img {
    width: 30vw;
}

.section-6 {
    flex-direction: column;
}

.section-6 .desc p {
    width: 36em;
}

h3 {
    font-size: 5em;
    font-family: "Merriweather";
}

.section-membership {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(85, 172, 238, 0.1);
    width: 25vw;
}

.section-membership h2 {
    font-size: 1.5em;
}

.section-membership p {
    color: gray;
}

.section-membership ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0;
}

.section-membership .button {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.section-membership ul li {
    font-family: "Merriweather";
    padding-bottom: 0.25em;
    font-weight: 500;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

footer p {
    font-size: 1.5em;
    color: #7e7e7e;
}

footer a {
    font-size: 1.5em;
}

footer p a:nth-of-type(1) span {
    color: #3b5998;
}

footer p a:nth-of-type(2) span {
    color: #fcaf45;
}

footer p a:nth-of-type(3) span {
    color: #55acee;
}

footer p a:nth-of-type(4) span {
    color: #c4302b;
}

.button:nth-of-type(1) {
    background: #000000;
    padding: 0.7em 1em;
    text-align: center;
    border-radius: 15px;
    color: white;
    line-height: 25px;
    font-size: 1.5em;
}

.button:nth-of-type(2) {
    background: white;
    padding: 0.7em 1em;
    text-align: center;
    border-radius: 15px;
    border: solid 2px rgb(178, 178, 178);
    color: black;
    line-height: 25px;
    font-size: 1.5em;
}

.section-membership .button {
    background: #55acee;
    padding: 0.7em 1em;
    text-align: center;
    border-radius: 15px;
    color: white;
    line-height: 25px;
    font-size: 1.5em;
}